# ==============================================================================
# SATYANAAM FOOD - PRODUCTION ENVIRONMENT TEMPLATE
# ==============================================================================

# Core Express.js Service Settings
PORT=4500
NODE_ENV=production

# Security & Authentication Cryptographic Secrets
SECRET_KEY=myfoooooooood
ADMIN_SECRET_KEY=c59af9cc5322d2f1f1ad00e3c17332d6deb4000842917d2376a0eecc4a92e74f
JWT_EXPIRES_IN=6000

# Mailing Engine Configuration (Nodemailer Client)
MAIL_SENDER=satyanamfood@gmail.com
GoogleKey=ieuqczkqrziieyim

# Database Infrastructure Services (MongoDB)
# Local container hostname: 'mongodb' inside custom bridge network 'satyanaam-net'
MONGO_URI=mongodb://mongodb:27017/restaurent

# Caching Infrastructure Services (Redis)
# Local container hostname: 'redis' inside custom bridge network 'satyanaam-net'
REDIS_URI=redis://redis:6379
